body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  font-family: "Times New Roman", serif;
}

table {
  border-collapse: collapse;
  background-color: yellow;
  border: 3px solid black;
  text-align: center;
  font-size: 18px;
}

th, td {
  border: 3px solid black;
  padding: 10px 20px;
}

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

th {
  font-weight: bold;
}
