table {
  background-color: yellow;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table, th, td, tr {
  border: 1px solid black;
}

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
}

th {
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
}

td {
  padding: 8px;
  font-size: 16px;
}
